<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551134046178-74e8e09qa6rr3uptr1inaavvi1ml4spk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551134046178-74e8e09qa6rr3uptr1inaavvi1ml4spk</string>
	<key>API_KEY</key>
	<string>AIzaSyDg6sii5Bo0hKNDt3nsnSEh2c9B5AgpSC4</string>
	<key>GCM_SENDER_ID</key>
	<string>551134046178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webpush</string>
	<key>PROJECT_ID</key>
	<string>flutter-web-push-github</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-web-push-github.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551134046178:ios:f9f1d2defb1544b2e5fbbb</string>
</dict>
</plist>